body {
  margin: 10px;
  box-sizing: border-box;
  background-color: #e0e0e0;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  font-size: 1.5em;
  img,
  .logo {
    height: 1.5em;
    margin: 5px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
}

.notify-container {
  width: 300px;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999999;

  div {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 10px;
  }

  div,
  .notify-error {
    background-color: #ffc7d2;
    border-color: #ff8fa5;
  }

  div,
  .notify-info {
    background-color: #bfb8ff;
    border-color: #988fff;
  }
}

.image-display {
  /*max-width: 70vh;*/
  max-height: 70vh;
}

.modal-blocker {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
}

.modal-window {
  background-color: #d3d3d3;
  margin: 2% auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.modal-title {
  font-size: 1.5em;
}

.edit-modal {
  display: flex;
  flex-direction: row;

  .edit-modal-image {
    max-width: 50%;
    max-height: 60vh;
  }

  .edit-modal-content {
    margin-left: 1%;
    width: 100%;

    input {
      box-sizing: border-box;
      padding: 0;
      width: 100%;
    }

    textarea {
      box-sizing: border-box;
      padding: 0;
      width: 100%;
      resize: none;
    }

    .edit-modal-buttons {
      width: 100%;
      display: flex;
      flex-direction: row;

      button {
        flex: 1 1 auto;
      }
    }
  }
}

.cancel-button {
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: white;
  font-size: 1.5em;
  background-color: #d22500;
}

.cancel-button:hover {
  background-color: #ff8981;
}

.selection {
  padding: 10px;
}

.selection:hover {
  cursor: pointer;
}

.selected {
  background-color: #4f99ff;
}

.attention {
  color: red;
}

.prewrap {
  white-space: pre-wrap;
}

.info-field {
  padding: 0.5em;
  background-color: white;
  border: 1px solid #f0f0f0;
  margin: 0.5em;
}

.no-scroll {
  overflow: hidden;
}
